.nftimage {
  position: relative;
}

.titleSegment {
  height: 50px;
}

.chainlogo {
  position: absolute;
  bottom: 50px;

  left: 7px;
}

.cardDiv {
  position: relative;
  left: 20px;
}

.pieChart {
}
